# Pruebas de Modelos

In [1]:
# Importamos las librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import time
import statistics

import warnings
warnings.filterwarnings("ignore")

from pycaret.datasets import get_data
from pycaret.classification import *

%matplotlib widget

## 1. Carga de Datos

In [6]:
Base = pd.read_csv("Base.csv",index_col=0)
Base

,Block Height,Hook Load,WOB,Torque,Flow In,Pump Pressure,RPM,ROP,Evento,Pega,Actividad
Time,,,,,,,,,,,
2015-02-01 00:00:57,57.708860,430.624454,1.301011,1.016953,357.482920,2022.031010,68.507219,0.0,Evento 1,0,RIH
2015-02-01 00:01:00,55.942886,429.602631,1.165243,0.680712,360.418803,2058.592517,60.428979,0.0,Evento 1,0,RIH
2015-02-01 00:01:03,54.164406,428.439948,0.942667,0.394440,365.651801,2097.301313,52.715292,0.0,Evento 1,0,RIH
2015-02-01 00:01:06,52.383372,428.350848,0.769924,0.365904,366.095786,2096.310389,46.199610,0.0,Evento 1,0,RIH
2015-02-01 00:01:09,50.617904,428.265523,0.516112,0.341655,366.543219,2127.829605,39.726500,0.0,Evento 1,0,RIH
...,...,...,...,...,...,...,...,...,...,...,...
2014-04-23 17:01:33,49.594614,306.238681,6.478149,4.480541,72.917473,1455.683618,89.093420,0.0,Evento 16,1,RIH
2014-04-23 17:01:36,49.594614,306.238681,6.478149,4.480541,72.917473,1455.683618,89.093420,0.0,Evento 16,1,RIH
2014-04-23 17:01:39,49.614314,306.256665,6.008588,4.371957,67.291780,1382.719355,87.606353,0.0,Evento 16,1,RIH
2014-04-23 17:01:42,49.614314,306.256665,6.008588,4.371957,67.291780,1382.719355,87.606353,0.0,Evento 16,1,RIH
2014-04-23 17:01:45,48.810550,306.328691,6.008588,4.435632,65.279816,1381.782014,88.943299,0.0,Evento 16,1,RIH

In [7]:
# Creamos la varibale de probabilidad de pega
Base["Prob Pega"]=0
Base

,Block Height,Hook Load,WOB,Torque,Flow In,Pump Pressure,RPM,ROP,Evento,Pega,Actividad,Prob Pega
Time,,,,,,,,,,,,
2015-02-01 00:00:57,57.708860,430.624454,1.301011,1.016953,357.482920,2022.031010,68.507219,0.0,Evento 1,0,RIH,0
2015-02-01 00:01:00,55.942886,429.602631,1.165243,0.680712,360.418803,2058.592517,60.428979,0.0,Evento 1,0,RIH,0
2015-02-01 00:01:03,54.164406,428.439948,0.942667,0.394440,365.651801,2097.301313,52.715292,0.0,Evento 1,0,RIH,0
2015-02-01 00:01:06,52.383372,428.350848,0.769924,0.365904,366.095786,2096.310389,46.199610,0.0,Evento 1,0,RIH,0
2015-02-01 00:01:09,50.617904,428.265523,0.516112,0.341655,366.543219,2127.829605,39.726500,0.0,Evento 1,0,RIH,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-04-23 17:01:33,49.594614,306.238681,6.478149,4.480541,72.917473,1455.683618,89.093420,0.0,Evento 16,1,RIH,0
2014-04-23 17:01:36,49.594614,306.238681,6.478149,4.480541,72.917473,1455.683618,89.093420,0.0,Evento 16,1,RIH,0
2014-04-23 17:01:39,49.614314,306.256665,6.008588,4.371957,67.291780,1382.719355,87.606353,0.0,Evento 16,1,RIH,0
2014-04-23 17:01:42,49.614314,306.256665,6.008588,4.371957,67.291780,1382.719355,87.606353,0.0,Evento 16,1,RIH,0
2014-04-23 17:01:45,48.810550,306.328691,6.008588,4.435632,65.279816,1381.782014,88.943299,0.0,Evento 16,1,RIH,0

## 2. Prueba de Modelos
### 2.1 Inicializacion del ambiente

In [8]:
pre_sp = setup(data=Base,
            ignore_features=["Prob Pega","Evento"],
            target="Pega",
            normalize=False,
            pca=False,
            pca_method="kernel",
            remove_outliers=True,
            feature_selection=True,
            remove_multicollinearity=False,
            feature_interaction=False,
            feature_ratio=False,
            #transform_target=False,
            #transform_target_method="box-cox",
            profile=False,
            polynomial_features = False,
            polynomial_degree=3,
            fix_imbalance = False,
            session_id=123)

In [ ]:
top3 = compare_models(n_select = 3)

IntProgress(value=0, description='Processing: ', max=79)

Initiated  . . . . . . . . . . . . . . . . . .                   10:17:16
Status     . . . . . . . . . . . . . . . . . .           Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting